.infor {
    padding-top: 200px;
    line-height: 30px;
    color: red;
}

.special {
    position: absolute;
    color: red;
    padding: 10px 20px;
}

.category {
    text-decoration: none;
    color: black;
    font-size: 150%
}

.tuyendung {
    padding-left: 50px;
}

html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.employ {
    text-decoration: none;
    font-size: 200%;
}

hr {
    border: 2px solid black;
}